---
import DefaultLayout from "@/layouts/default-layout.astro";
import PageHeader from "@/components/common/page-header.vue";
import Container from "@/components/common/container.vue";
import Breadcrumbs from "@/components/common/breadcrumbs.vue";
import Heading1 from "@/components/common/heading-1.vue";
import TelefonVergisiHesaplayiciPreset
    from "@/domains/telefon-vergisi-hesaplayici/components/telefon-vergisi-hesaplayici-preset.vue";
import Heading2 from "@/components/common/heading-2.vue";
import CalculatorPresetCarousel from "@/components/calculator-preset-carousel.astro";

import { getPresetsForAllBrands, getBrandById } from "@/domains/telefon-vergisi-hesaplayici/db.js";
import {
    TelefonVergisiHesaplayiciPageDef,
    TelefonVergisiHesaplayiciPresetSlugPageDef
} from "@/domains/telefon-vergisi-hesaplayici/page-def.js";
import {
    mapPresetsForCalculatorPresetCarouselComponent
} from "@/domains/telefon-vergisi-hesaplayici/utils/map-presets-for-calculator-preset-carousel-component.js";
import { calculateResults } from "@/domains/telefon-vergisi-hesaplayici/utils/calculate-results.js";
import { DEFAULT_PRESET_FORM } from "@/domains/telefon-vergisi-hesaplayici/config.js";

export const getStaticPaths = (): object => {
    return getPresetsForAllBrands().map(_preset => ({
        params: {
            presetSlug: _preset.slug
        },
        props: {
            preset: _preset,
            brand: getBrandById(_preset.brandId)
        }
    }));
};

const { preset, brand } = Astro.props;

const telefonVergisiHesaplayiciPage = TelefonVergisiHesaplayiciPageDef();
const telefonVergisiHesaplayiciPresetSlugPage = TelefonVergisiHesaplayiciPresetSlugPageDef({ preset, brand });

const EXCHANGE_RATES = getExchangeRates();
const presets = getPresetsForAllBrands();
const presetsForCalculatorPresetCarousel = mapPresetsForCalculatorPresetCarouselComponent(
    presets.filter(_preset => _preset.brandId === preset.brandId && _preset.slug !== preset.slug) // Show same brands and hide current
);

const calculateServerSide = () => {
    const optionIndex = 0;
    // oxlint-disable-next-line no-non-null-assertion
    const option = preset.options[optionIndex]!;

    const form = {
        ...DEFAULT_PRESET_FORM,
        ...option.form
    };

    const {
        results,
        resultList,
        screenshotData,
        chartData
    } = calculateResults({
        form,
        exchangeRates: EXCHANGE_RATES
    });

    return {
        form,
        results,
        resultList,
        screenshotData,
        chartData
    };
};

const initial = calculateServerSide();
---

<DefaultLayout head={telefonVergisiHesaplayiciPresetSlugPage.head}>
    <PageHeader>
        <Container>
            <Breadcrumbs
                items={telefonVergisiHesaplayiciPresetSlugPage.breadcrumbs}
                client:load />
            <Heading1>
                {preset.pageTitle}
            </Heading1>
        </Container>
    </PageHeader>

    <TelefonVergisiHesaplayiciPreset
        EXCHANGE_RATES={EXCHANGE_RATES}
        calculatorPage={telefonVergisiHesaplayiciPage}
        presetPage={telefonVergisiHesaplayiciPresetSlugPage}
        brand={brand}
        preset={preset}
        initial={initial}
        client:load />

    {presetsForCalculatorPresetCarousel.length > 0 ?
        <hr />
        <Container>
            <div ta-ad-container=""></div>
            <hr />
            <Heading2>
                Diğer hazır hesaplamalar
            </Heading2>
        </Container>
        <CalculatorPresetCarousel items={presetsForCalculatorPresetCarousel} />
        : ""}

    <hr />
    <Container>
        <div ta-ad-container=""></div>
    </Container>
</DefaultLayout>
