---
import DefaultLayout from "@/layouts/default-layout.astro";
import PageHeader from "@/components/common/page-header.vue";
import Container from "@/components/common/container.vue";
import Breadcrumbs from "@/components/common/breadcrumbs.vue";
import Heading1 from "@/components/common/heading-1.vue";
import ArticleLegalDisclaimerAlert from "@/components/article-legal-disclaimer-alert.vue";
import RichText from "@/components/common/rich-text.vue";
import Heading2 from "@/components/common/heading-2.vue";
import ArticlesGrid from "@/components/articles-grid.vue";

import { render } from "astro:content";
import { YazilarPageDef, YazilarSlugPageDef } from "@/domains/yazilar/page-def.js";
import { getYazilar } from "@/domains/yazilar/db.js";
import { mapYazilarForArticlesGridComponent } from "@/domains/yazilar/utils.js";

export const getStaticPaths = async (): Promise<object> => {
    return (await getYazilar()).map(_yazi => ({
        params: {
            articleSlug: _yazi.slug
        },
        props: {
            yazi: _yazi
        }
    }));
};

const { yazi } = Astro.props;

const yazilarPage = YazilarPageDef();
const yazilarSlugPage = YazilarSlugPageDef({ yazi });

// oxlint-disable-next-line no-magic-numbers
const yazilar = (await getYazilar()).filter(_yazi => _yazi.slug !== yazi.slug).slice(0, 6);
const yazilarForArticlesGrid = mapYazilarForArticlesGridComponent(yazilar);

const { Content } = await render(yazi.entry);
---

<DefaultLayout head={yazilarSlugPage.head}>
    <PageHeader>
        <Container>
            <Breadcrumbs
                items={yazilarSlugPage.breadcrumbs}
                client:load />
            <Heading1>
                {yazi.title}
            </Heading1>
        </Container>
    </PageHeader>

    <Container>
        <ArticleLegalDisclaimerAlert />

        <RichText is="section">
            <Content />
        </RichText>

        <hr class="divider" />

        <section>
            <Heading2>
                <a href={yazilarPage.url}>
                    Son yazılar
                </a>
            </Heading2>
            <ArticlesGrid items={yazilarForArticlesGrid} />
        </section>
    </Container>
</DefaultLayout>

<style lang="scss">
    .divider {
        margin-block: calc(var(--vh-spacer) * 2)
    }
</style>
